#menu-1,#menu-12{
    background-color : cornflowerblue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#menu-10, #menu-13{
    background-color : coral;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#menu-11{
    background-color : gray;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#dropdown, #dropdown2, #dropdown3{
    display: none;
}

#dropdown.active, #dropdown2.active, #dropdown3.active{
    display: block;
}
